*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 218, 188);
}
.header{
    background-color: rgb(95, 22, 22);
 
    line-height: 70px;
    padding-left: 30px;
}
.header h1{
    font-size: 30px;

}


a,a:hover{
    text-decoration: none!important;
    

}
.logout{
    float: right;
    padding-right: 30px;
}
ul{
    background-color: rgb(241, 218, 188);;
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;

}
ul li{

    list-style: none;
    padding-bottom: 30px;
    font-size: 18px;
}
ul li a{
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: rgb(95, 22, 22);
    text-decoration: none;
    font-size: 14px;
}
.content{
    margin-left: 20%;
    margin-top: 5%;
   
}
