*{
    margin: 0;
    padding: 0;
}


nav{
position: relative;
background-color:rgb(139, 22, 22);
height:70px;
width:100%;
z-index:1;
}
nav .logo {
    color: white;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: rgb(95, 22, 22);;
    font-weight: bold;
    line-height: 70px;
}
ul{
    position: relative;
    float: right;
    margin-right: 25px;
}
ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.main_img{
    width: 100%;
    height: 650px;
}
.section{
    padding-top: 3px;
}
/*.img_text{
    position: absolute;
    top: 20%;
    left: 30px;
    color: white;
    background-color: midnightblue;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
}*/
.welcome_img{
    width: 100%;
    height: 250px;
 
}
.container{
    padding-top: 70px;
}
.room{
    width: 90%;
    height: 200px;
}
.restaurant{
    width: 90%;
    height: 200px;
}
.label_text{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.input_deg{
width: 30%;
height: 40px;
border-radius: 25px;
border: 1px solid brown;
}
.adm_int{
    padding-top: 10px;
}
.input_txt{
    width: 30%;
height: 120px;
border-radius: 10px;
border: 1px solid brown;
}
#submit{
position: relative;
width: 15%;
left: 5%;
}
#contact{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin: 30px 30px;
    padding: 30px 3-px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a {
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: black;
display: inline-block;
transition: transform 0.5s;
}
.social-icons a:hover{
    color:rgb(95, 22, 22);;;
    transform: translateY(-5px)
}
footer{
    background-color: rgb(128, 41, 41);
    width: 100%;
    height: 70px;
    color: white;
}
.footer_text{
    color: white;
    text-align: center;
    top: 20%;
    position: relative;
}
.adm{
    padding-top: 30px;
    padding-bottom: 30px;
}
.form_deg{
    padding-top: 200px;
}
.label_deg{
    display: inline-block;
    color: black;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login_form{
    background-color: rgb(137, 64, 64);
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;

}
.title_deg{
    background-color:  rgb(241, 218, 188);;
    color: black;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;

}
.body_deg{
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}









